<div class="card overflow-hidden">

  <div (click)="OpenContact.emit(contact.c_Id_Persona)"
       class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
       matRipple>
    <img [src]="contact?.c_Img_Base" class="avatar h-24 w-24 mx-auto">

    <h2 class="title mb-1 mt-3">{{ contact?.c_Primer_Nombre }}</h2>
    <div class="body-2 text-secondary flex items-center justify-center" *ngIf="contact?.c_Id_Rol_Persona === 3">
      <mat-icon class="ltr:mr-1 rtl:ml-1 icon-xs" svgIcon="mat:business"></mat-icon>
      <span >{{ contact?.c_Empresa }}</span>
      <!-- <span *ngIf="contact?.c_ID_Rol_Persona == 3">{{ contact?.c_Sucursal }}</span> -->
    </div>

    <div class="body-2 text-secondary flex items-center justify-center">
      <mat-icon class="ltr:mr-1 rtl:ml-1 icon-xs" svgIcon="mat:person_outline"></mat-icon>
      <span>{{ contact?.c_Tipo }}</span>
    </div>

    <button (click)="emitToggleStar($event, contact?.c_Id_Persona)" class="absolute top-2 right-2" mat-icon-button type="button">
      <mat-icon *ngIf="contact?.c_Estado == 1"svgIcon="mat:cancel"></mat-icon>
      <mat-icon *ngIf="contact?.c_Estado == 2" svgIcon="mat:control_point"></mat-icon>
    </button>
  </div>

  <div class="bg-app-bar p-2 flex items-center justify-around" style="height: 2rem;;">
  
  </div>
</div>
