<div class="flex-auto">
  <h1 class="m-4 text-4xl">Graficas de Factura de Servicios </h1>

  <div class="mt-12">
    <h3 class="title m-0">Ganancias Por Dia:Q{{ GananciaSD }}</h3>
    <h3 class="title m-0">Ganancias Por Mes:Q{{ GananciaSM }}</h3>
    <h3 class="title m-0">Ganancias Por Año:Q{{ GananciaSA }}</h3>
  </div>
</div>

<div class="flex justify-center">
  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorDiaS"
      [results]="DiaS"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'ServiciosFacturados por Dia'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>

  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorMesS"
      [results]="MesS"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'Servicios Facturados por Mes'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>

  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorAnioS"
      [results]="AnioS"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'Servicios Facturados por Año'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>
</div>

<div class="flex-auto" style="margin-top: 60px;">
  <h1 class="m-4 text-4xl">Graficas de Factura Venta de Productos</h1>

  <div class="mt-12">
    <h3 class="title m-0">Ventas Por Dia:Q{{ VentasPD}}</h3>
    <h3 class="title m-0">Ganancias Por Dia:Q{{ GananciaPD }}</h3>
    <h3 class="title m-0">Ganancias Por Mes:Q{{ GananciaPM }}</h3>
    <h3 class="title m-0">Ganancias Por Año:Q{{ GananciaPA }}</h3>
  </div>
</div>


<div class="flex justify-center">
  
 
  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'Productos Facturados por Dia'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>

  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorMesP"
      [results]="MesP"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'Productos Facturados por Mes'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>

  <div class="flex-auto custom-flex-auto">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorAnioP"
      [results]="AnioP"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendTitle]="'Productos Facturados por Año'"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
  </div>


</div>

