<div class="mt-7 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <div class="ltr:ml-1 rtl:mr-1 flex-none hidden sm:inline-block">
          <label style="margin-right: 0.3rem;"  for="gridViewToggle">Editar Datos Personales</label>
          <mat-slide-toggle
            id="gridViewToggle"
            color="primary"
            [checked]="false"
            (change)="onToggleChange($event)"
          ></mat-slide-toggle>
        </div>
        <!-- <h2 class="title m-0">Datos Personales</h2> -->
      </div>
      <form  (ngSubmit)="openConfirmDialog()" [formGroup]="form" >
      <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">

        <div class="py-3 flex items-center">
            <mat-form-field class="flex-auto">
              <mat-label>Primer Nombre</mat-label>
              <input cdkFocusInitial formControlName="Primer_Nombre" matInput>
              <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
              <mat-error *ngIf="form.get('Primer_Nombre').hasError('required')">Este campo es requerido.</mat-error>
              <mat-error *ngIf="form.get('Primer_Nombre').hasError('pattern')">Solo se permiten letras.</mat-error>
            </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
            <mat-form-field class="flex-auto">
              <mat-label>Segundo Nombre</mat-label>
              <input cdkFocusInitial formControlName="Segundo_Nombre" matInput>
              <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
              <mat-error *ngIf="form.get('Segundo_Nombre').hasError('required')">Este campo es requerido.</mat-error>
              <mat-error *ngIf="form.get('Segundo_Nombre').hasError('pattern')">Solo se permiten letras.</mat-error>
            </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
            <mat-form-field class="flex-auto">
              <mat-label>Tercer Nombre</mat-label>
              <input cdkFocusInitial formControlName="Tercer_Nombre" matInput>
              <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
              <mat-error *ngIf="form.get('Tercer_Nombre').hasError('pattern')">Solo se permiten letras.</mat-error>
            </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>Primer Apellido</mat-label>
            <input cdkFocusInitial formControlName="Primer_Apellido" matInput>
            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
            <mat-error *ngIf="form.get('Primer_Apellido').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="form.get('Primer_Apellido').hasError('pattern')">Solo se permiten letras.</mat-error>
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>Segundo Apellido</mat-label>
            <input cdkFocusInitial formControlName="Segundo_Apellido" matInput>
            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
            <mat-error *ngIf="form.get('Segundo_Apellido').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="form.get('Segundo_Apellido').hasError('pattern')">Solo se permiten letras.</mat-error>
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto" *ngIf="form.get('c_Id_Genero').value === 1">
            <mat-label>Apellido de Casada</mat-label>
            <input cdkFocusInitial formControlName="Apellido_Casada" matInput>
            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
            <mat-error *ngIf="form.get('Apellido_Casada').hasError('pattern')">Solo se permiten letras.</mat-error>
          </mat-form-field>
        </div>



        <div class="py-3 flex items-center">
         
          <mat-form-field class="flex-1 sm:w-1/4" style="margin-right: 8px;">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input [matDatepicker]="datepickerRef" formControlName="Fecha_Nacimiento" matInput>
            <mat-datepicker-toggle [for]="datepickerRef" class="block" matPrefix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>
            <mat-error *ngIf="form.get('Fecha_Nacimiento').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field> 
          <mat-form-field class="flex-1 sm:w-1/4" style="margin-left: 8px;">
            <mat-label>Genero</mat-label>
            <mat-select formControlName="c_Id_Genero">
              <mat-option *ngFor="let genero of generos" [value]="genero.c_Id_Genero">{{ genero.c_Descripcion }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('c_Id_Genero').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field>
          
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-1 sm:w-1/4" style="margin-right: 8px;">
            <mat-label>Departamento</mat-label>
            <mat-select  formControlName="c_Id_Departamento"  placeholder="Departamento" >
              <mat-option *ngFor="let state of filteredDepartamento$ | async"  [value]="state.Id">
                <div class="option-container">
                  <img [src]="state.flag" class="align-middle mr-4 shadow-lg" style="width: 50%; height: 50%;">
                  <span class="body-1">{{ state.name }}</span>
                </div>
              </mat-option>
            </mat-select>
           <mat-error *ngIf="form.get('c_Id_Departamento').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field>
    
          <mat-form-field class="flex-1 sm:w-1/4" style="margin-left: 8px;">
            <mat-label>Municipio</mat-label>
            <mat-select formControlName="c_Id_Municipio" placeholder="Municipio">
              <mat-option *ngFor="let Mun of filteredMunicipio$ | async" [value]="Mun.Id">
                <div class="option-container">
                  <img [src]="Mun.flag" class="align-middle mr-5 shadow-lg" style="width: 12%; height: 12%;">
                  <span class="body-2">{{ Mun.name }}</span>
                </div>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('c_Id_Municipio').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>DPI</mat-label>
            <input cdkFocusInitial formControlName="DPI" matInput>
            <mat-icon matPrefix svgIcon="mat:assignment_ind"></mat-icon>
            <mat-error *ngIf="form.get('DPI').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="form.get('DPI').hasError('pattern')">Solo se permiten numeros.</mat-error>
            <mat-error *ngIf="form.get('DPI').hasError('minlength')">Debe tener 13 caracteres.</mat-error>
            <mat-error *ngIf="form.get('DPI').hasError('maxlength')">No puede exceder de los 13 caracteres.</mat-error>
            
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>NIT</mat-label>
            <input cdkFocusInitial formControlName="NIT" matInput>
            <mat-icon matPrefix svgIcon="mat:ballot"></mat-icon>
            <mat-error *ngIf="form.get('NIT').hasError('pattern')">Solo se permiten numeros.</mat-error>
            <mat-error *ngIf="form.get('NIT').hasError('minlength')">Debe tener 10 caracteres.</mat-error>
            <mat-error *ngIf="form.get('NIT').hasError('maxlength')">No puede exceder de los 10 caracteres.</mat-error>
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>Direccion</mat-label>
            <input cdkFocusInitial formControlName="Direccion" matInput>
            <mat-icon matPrefix svgIcon="mat:home"></mat-icon>
            <mat-error *ngIf="form.get('Direccion').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="form.get('Direccion').hasError('pattern')">Solo se permiten letras, numeros, guiones y comas.</mat-error>
          </mat-form-field>
        </div>

        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>Correo</mat-label>
            <input formControlName="Correo" matInput>
            <mat-icon matPrefix svgIcon="mat:email"></mat-icon>
            <mat-error *ngIf="form.get('Correo').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>



        <div class="py-3 flex items-center">
          <mat-form-field class="flex-auto">
            <mat-label>Contraseña Anterior</mat-label>
             <input [type]="inputType" formControlName="c_ContraseniaA" matInput required>
             <button (click)="toggleVisibilityA()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
             <mat-icon *ngIf="visibleA" svgIcon="mat:visibility"></mat-icon>
             <mat-icon *ngIf="!visibleA" svgIcon="mat:visibility_off"></mat-icon>
          </button>
            <mat-error *ngIf="form.get('c_ContraseniaA').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="form.get('c_ContraseniaA').hasError('minlength')">Debe tener al menos 8 caracteres.</mat-error>
          </mat-form-field>
          
      </div>

      
      <div class="py-3 flex items-center">
        <mat-form-field class="flex-auto" >
          <mat-label>Contraseña Nueva</mat-label>
             <input [type]="inputType" formControlName="c_ContraseniaN" matInput required>
             <button (click)="toggleVisibilityN()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
             <mat-icon *ngIf="visibleN" svgIcon="mat:visibility"></mat-icon>
             <mat-icon *ngIf="!visibleN" svgIcon="mat:visibility_off"></mat-icon>
            </button>
          <mat-error *ngIf="form.get('c_ContraseniaN').hasError('required')">Este campo es requerido.</mat-error>
          <mat-error *ngIf="form.get('c_ContraseniaN').hasError('minlength')">Debe tener al menos 8 caracteres.</mat-error>
          <mat-error *ngIf="form.get('c_ContraseniaN').hasError('pattern')">Debe de ingresar al menos una letra mayuscula(A), minuscula(a), caracter especial(@,!,#,$,%...) y un numero(0-9).</mat-error>

        </mat-form-field>
      </div>

      <div class="py-3 flex items-center">
       
      </div>



      <mat-dialog-actions align="end">
       
        <button  color="primary" mat-flat-button type="submit" [disabled]="!form.valid" >
          Actualizar Datos
        </button>
      </mat-dialog-actions>
      </div>

     
      <!-- <pre>{{ form.value | json }}</pre> -->
      </form>
    </div>

   
  </div>
</div>
