<div class="p-gutter container">
  <div @fadeInUp class="card p-16">
    <div class="grid grid-cols-2">
      <div>
        <img class="h-40" src="https://img.srvcentral.com/Images/04dc9514-c72a-410c-afd5-31c6cbc674cb.jpg">

        <div class="mt-12">
          <h4 class="body-2 text-secondary mt-0">Cliente</h4>
          <h3 class="title m-0">Alex Chacon</h3>
          <div class="text-secondary">
            <p class="m-0">Zacapa</p>
            <p class="m-0">Cabañas</p>
            <p class="m-0">Barrio el Centro</p>
          </div>
        </div>
      </div>

      <div class="text-right body-1 flex flex-col items-end">
        <h1 class="display-2 m-0">Factura</h1>

        <table class="mt-6">
          <tbody>
          <tr>
            <td class="text-secondary body-2">FECHA.</td>
            <td class="text-left pl-4">2019/0592</td>
          </tr>
          <tr>
            <td class="text-secondary body-2">NUMERO DE SERIE</td>
            <td class="text-left pl-4">AB024S</td>
          </tr>
          <tr>
            <td class="text-secondary body-2">NUMERO DE DETALLE.</td>
            <td class="text-left pl-4">D-3235321</td>
          </tr>
          <tr>
            <td class="text-secondary body-2">NUMERO DE AUTORIZACION.</td>
            <td class="text-left pl-4">2NHGXUUA238231HXSAGYQFSJSIEF</td>
          </tr>
          </tbody>
        </table>

        <div class="mt-12">
          <h4 class="body-2 text-secondary mt-0">Sucursal</h4>
          <h3 class="title m-0">Cafe Internet Normita.</h3>
          <div class="text-secondary">
            <p class="m-0">Zacapa</p>
            <p class="m-0">Cabañas</p>
            <p class="m-0">Barrio el centro</p>

            <p class="m-0 mt-3">
              <mat-icon class="mr-2 icon-sm" svgIcon="mat:mail"></mat-icon>
              <span>cafe@cafeinternet.srvcentral.com</span>
            </p>

            <p class="m-0">
              <mat-icon class="mr-2 icon-sm" svgIcon="mat:phone"></mat-icon>
              <span>35812598</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <table class="table w-full mt-24">
      <thead>
      <tr>
        <td class="body-2 text-secondary">DESCRIPCION</td>
        <td class="body-2 text-secondary">PRECIO</td>
        <!-- <td class="body-2 text-secondary">UNIT</td> -->
        <td class="body-2 text-secondary">CANTIDAD</td>
        <td class="body-2 text-secondary text-right">TOTAL</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-6 border-b">Levantado de Texto</td>
        <td class="py-6 border-b">Q35.00</td>
        <!-- <td class="py-6 border-b"></td> -->
        <td class="py-6 border-b">40</td>
        <td class="py-6 border-b font-medium text-right">Q1,400.00</td>
      </tr>

      <tr>
        <td class="py-6 border-b">Impresion</td>
        <td class="py-6 border-b">Q49.99</td>
        <!-- <td class="py-6 border-b">User</td> -->
        <td class="py-6 border-b">5</td>
        <td class="py-6 border-b font-medium text-right">$249.95</td>
      </tr>

      <tr>
        <td class="py-6 border-b">Rellenar formularios SAT</td>
        <td class="py-6 border-b">Q499.99</td>
        <!-- <td class="py-6 border-b">Piece</td> -->
        <td class="py-6 border-b">1</td>
        <td class="py-6 border-b font-medium text-right">Q499.99</td>
      </tr>

      <tr>
        <td class="py-6 border-b">Caja Rural Remesas</td>
        <td class="py-6 border-b">Q5000.00</td>
        <!-- <td class="py-6 border-b">Hour</td> -->
        <td class="py-6 border-b">1</td>
        <td class="py-6 border-b font-medium text-right">Q5000.00</td>
      </tr>
      </tbody>
    </table>

    <div class="mt-8 flex flex-col items-end">
      <table class="subheading-2 font-medium pr-6">
        <tbody>
        <tr>
          <td class="text-secondary text-right">SUBTOTAL</td>
          <td class="pl-12">Q6,650.50‬</td>
        </tr>
        <tr>
          <td class="text-secondary text-right">IVA (12%)</td>
          <td class="pl-12">Q798.05‬</td>
        </tr>
        <!-- <tr>
          <td class="text-secondary text-right">DISCOUNT (5%)</td>
          <td class="pl-12">-$114.99‬</td>
        </tr> -->
        <tr>
          <td class="headline font-medium text-right pt-6">TOTAL</td>
          <td class="headline font-medium pl-12 pt-6">Q6,650.50‬</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
