<div @fadeInUp class="card shadow-xl text-center max-w-lg overflow-hidden p-6 my-4 bg-gradient-to-br from-blue-200 to-indigo-600 rounded-lg">
  <div class="flex flex-col items-center">
    <img class="w-16" src="assets/img/demo/logo.svg">
    <h2 class="text-2xl md:text-4xl font-bold mt-4">¡Activa tu Dispositivo de Forma Segura!</h2>
    <h3 class="text-lg md:text-xl font-medium text-gray-200 mt-2 text-justify">Para garantizar la seguridad de tus credenciales te recomendamos lo siguiente:</h3>
    <div class="bg-app-bar p-6 rounded-lg">
      <ul class="list-disc list-inside mt-2 text-gray-500 text-left">
        <li class="mb-2">No compartir tus credenciales con nadie, ni siquiera con personal de soporte.</li>
        <li class="mb-2">No proporcionar tus correos electrónicos o contraseñas por correo, mensajes de texto o llamadas telefónicas no solicitadas.</li>
        <li class="mb-2">Usar solamente dispositivos de confianza y evitar el uso de dispositivos públicos o compartidos.</li>
        <li class="mb-2">Utilizar contraseñas seguras, combinando letras, números y caracteres especiales, y cambiarlas regularmente.</li>
        <li class="mb-2">Revisar regularmente la actividad de tu cuenta y notificar cualquier actividad sospechosa.</li>
      </ul>
      
      <button color="primary" class="mt-4 py-2 px-6 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400" (click)="send()" mat-raised-button type="button">Click aquí para activar dispositivo</button>
    </div>
  </div>
</div>
