 <!-- <div [@stagger]="true" class="p-gutter container">

  <div  [formGroup]="usuarioForm"   class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 borde r-b flex items-center">
        <h2 class="title m-0">Formulario de Facturacion Venta</h2>
      </div>

      <div class="px-6 py-4 flex flex-col">
 </div>

      <div class="px-6 py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row sm:gap-4">

          <mat-form-field class="flex-auto">
            <mat-label>Seleccione un Cliente</mat-label>
            <mat-select  formControlName="c_Id_Persona"  placeholder="C/F">
              <mat-option *ngFor="let ms of filteredFacturacion$ | async"  [value]="ms.Id">
                <div class="option-container">
                  <img  [src]="ms.Url_IMG" class="align-middle mr-4 shadow-lg" style="width: 8%; height: 8%;" >
                  <span class="body-1">{{ ms.name }}</span>
                  
              </div>
              </mat-option>
            </mat-select>
          
          </mat-form-field>


          <mat-form-field class="flex-auto">
            <mat-label>Seleccione un Producto</mat-label>
            <mat-select formControlName="c_Id_Producto" multiple>
              <mat-option *ngFor="let ms of filteredProductos$ | async"  [value]="ms.Id">
                <div class="option-container">
                  <img  [src]="ms.Url_IMG" class="align-middle mr-4 shadow-lg" style="width: 8%; height: 8%;" >
                  <span class="body-1">{{ ms.name }}</span>
              </div>
              </mat-option>
            </mat-select>
          
          </mat-form-field>

          <mat-form-field class="flex-1 sm:w-1/4">
            <mat-label>Serie</mat-label>
            <mat-select formControlName="c_Id_Serie" [(ngModel)]="SerieSeleccionada">
              <mat-option *ngFor="let Cat of Serie" [value]="Cat.c_Id_Serie">{{ Cat.c_Nombre}}</mat-option>
            </mat-select>
          
          </mat-form-field>

        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Direccion</mat-label>
            <input formControlName="c_Direccion" matInput required >
            <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>NIT</mat-label>
            <input formControlName="c_NIT" matInput>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('pattern')">Solo se permiten numeros.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('minlength')">Debe tener 10 caracteres.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('maxlength')">No puede exceder de los 10 caracteres.</mat-error>
          </mat-form-field>
        </div>
      <(click)="openConfirmDialog()" 

        <div class="flex items-center justify-end gap-2">
          <button mat-button type="button">Cancelar</button>
          <button  color="primary" mat-raised-button type="button" [disabled]="!usuarioForm.valid">Guardar</button>
        </div>

         <pre>{{ usuarioForm.value | json }}</pre> 
      </div>
    </div>

  </div>
</div> -->



















<!-- <vex-secondary-toolbar current="Formulario">
  <vex-breadcrumbs [crumbs]="['Forms', 'Formuliario Factiracion']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar> -->


<!-- <div [@stagger]="true" class="p-gutter container">

  <div  [formGroup]="usuarioForm"   class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 borde r-b flex items-center">
        <h2 class="title m-0">Formulario Facturacion</h2>
      </div>

      <div class="px-6 py-4 flex flex-col"> -->
        
      <!-- <div class="image-upload-container">
        <div class="selected-image-container">
          <div class="selected-image-wrapper">
            <img [src]="selectedImageURL" alt="Imagen seleccionada">
          </div>
        </div>
        <div class="button-container">
          <label for="image-upload" class="custom-file-upload">
            <span>Subir Imagen</span>
          </label>
          <input id="image-upload" type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>
      </div> -->

      

      <!-- </div>

      <div class="px-6 py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row sm:gap-4"> -->

          <!-- <mat-form-field class="flex-auto">
            <mat-label>Usuario</mat-label>
            <input formControlName="c_Id_Usuario" matInput>
            <mat-icon matSuffix svgIcon="mat:person_pin"></mat-icon>
            <mat-error *ngIf="usuarioForm.get('c_Id_Usuario').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_Id_Usuario').hasError('pattern')">Solo se permiten letras y números.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_Id_Usuario').hasError('minlength')">Debe tener al menos 4 caracteres.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_Id_Usuario').hasError('maxlength')">No debe exceder los 24 caracteres.</mat-error>
          </mat-form-field> -->

          <!-- <mat-form-field class="flex-auto">
            <mat-label>Tipo</mat-label>
            <mat-select>
              <mat-option value="Apples">Servicio</mat-option>
              <mat-option value="Peaches">Venta</mat-option>
              <mat-option value="Bananas">Compra</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Cliente</mat-label>
            <mat-select>
              <mat-option value="Apples">Alex Chacon</mat-option>
              <mat-option value="Peaches">Jose Franco</mat-option>
              <mat-option value="Bananas">Carlos Santos</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>Servicio</mat-label>
            <mat-select>
              <mat-option value="Apples">Levantado de Texto</mat-option>
              <mat-option value="Peaches">Caja Rural Remesa</mat-option>
              <mat-option value="Bananas">Impresion</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="flex-auto">
            <mat-form-field>
              <mat-label>Fecha</mat-label>
              <input formControlName="c_Fecha_Nacimiento" [matDatepicker]="datepickerRef" matInput>
              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepickerRef></mat-datepicker>
              <mat-error *ngIf="usuarioForm.get('c_Fecha_Nacimiento').hasError('required')">Este campo es requerido.</mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Nombre</mat-label>
            <input formControlName="c_Primer_Nombre" matInput required>
            <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
            <mat-error *ngIf="usuarioForm.get('c_Primer_Nombre').hasError('required')">Este campo es requerido.</mat-error>
          <mat-error *ngIf="usuarioForm.get('c_Primer_Nombre').hasError('pattern')">Solo se permiten letras.</mat-error>
          </mat-form-field>
          
          <mat-form-field class="flex-auto">
            <mat-label>Direccion</mat-label>
            <input formControlName="c_Segundo_Nombre" matInput required>
            <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
            <mat-error *ngIf="usuarioForm.get('c_Segundo_Nombre').hasError('required')">Este campo es requerido.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_Segundo_Nombre').hasError('pattern')">Solo se permiten letras.</mat-error>
          </mat-form-field>

          <mat-form-field class="flex-auto">
            <mat-label>NIT</mat-label>
            <input formControlName="c_NIT" matInput>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('pattern')">Solo se permiten numeros.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('minlength')">Debe tener 10 caracteres.</mat-error>
            <mat-error *ngIf="usuarioForm.get('c_NIT').hasError('maxlength')">No puede exceder de los 10 caracteres.</mat-error>
          </mat-form-field>
         

        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
          <table border="1">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>SubTotal</th>
                    <th>IVA</th>
                    <th>Total SubTotal</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody> -->
                <!-- Aquí puedes agregar filas para tus productos -->
                <!-- <tr>
                    <td>Levantado de Texto</td>
                    <td>10.00</td>
                    <td>2</td>
                    <td>20.00</td>
                    <td>3.60</td>
                    <td>4.60</td>
                    <td>23.60</td>
                </tr>
                <tr>
                    <td>Caja Rusal Remesas</td>
                    <td>1500.50</td>
                    <td>1</td>
                    <td>46.50</td>
                    <td>8.37</td>
                    <td>6.50</td>
                    <td>54.87</td>
                </tr> -->
                <!-- Agrega más filas según tus necesidades -->
            <!-- </tbody>
            
        </table>
      </div>

      

        <div class="flex items-center justify-end gap-2">
          <button mat-button type="button">Cancelar</button>
          <button (click)="openConfirmDialog()" color="primary" mat-raised-button type="button" [disabled]="!usuarioForm.valid">Guardar</button>
        </div> -->

        <!-- <pre>{{ usuarioForm.value | json }}</pre> -->
      <!-- </div>
    </div> -->

   