<vex-secondary-toolbar current="Form Elements">
  <vex-breadcrumbs [crumbs]="['Forms', 'Form Elements']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>


<div [@stagger]="true" class="p-gutter container">

  <div  [formGroup]="usuarioForm"   class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 borde r-b flex items-center">
        <h2 class="title m-0">Depositos y Retiros</h2>
      </div>

      <div class="px-6 py-4 flex flex-col">
        
      <div class="image-upload-container">
        <div class="selected-image-container">
          <div class="selected-image-wrapper">
            <img [src]="selectedImageURL" alt="Imagen seleccionada">
          </div>
        </div>
        <!-- <div class="button-container">
          <label for="image-upload" class="custom-file-upload">
            <span>Subir Imagen</span>
          </label>
          <input id="image-upload" type="file" (change)="onFileSelected($event)" accept="image/*">
        </div> -->
      </div>

      

      </div>

      <div class="px-6 py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row sm:gap-5">

          <mat-form-field class="flex-auto">
            <mat-label>Numero de Cuenta</mat-label>
            <input formControlName="c_Id_Cuenta" matInput required>
            <mat-icon matSuffix svgIcon="mat:person_pin"></mat-icon>
            <mat-error *ngIf="usuarioForm.get('c_Id_Cuenta').hasError('required')">Este campo es requerido.</mat-error>
          </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Tipo de Cuenta </mat-label>
          <input formControlName="c_Tipo_Cuenta" matInput [readonly]="true">
          <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
        </mat-form-field>
      
        <mat-form-field class="flex-auto">
          <mat-label>Estado</mat-label>
          <input formControlName="c_Estado_Cuenta" matInput  [readonly]="true">
          <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Saldo </mat-label>
          <input formControlName="c_Saldo" matInput  [readonly]="true">
          <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Monto Maximo Permitido </mat-label>
          <input formControlName="c_Monto_Maximo" matInput [readonly]="true">
          <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
        </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-auto">
            <mat-label>Nombre</mat-label>
            <input formControlName="c_Nombre_Completo" matInput [readonly]="true">
            <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
          </mat-form-field>
          
          <mat-form-field class="flex-auto">
            <mat-label>Sucursal de Registro</mat-label>
            <input formControlName="c_Nombre_Sucursal" matInput  [readonly]="true">
            <mat-icon matSuffix svgIcon="mat:person"></mat-icon>
          
          </mat-form-field>

          
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field >
          <mat-label>Monto</mat-label>
          <input formControlName="c_Monto" matInput required [readonly]="Vmonto">
          <mat-icon class="mr-2" matPrefix svgIcon="mat:smartphone"></mat-icon>
          <mat-error *ngIf="usuarioForm.get('c_Monto').hasError('required')">Este campo es requerido.</mat-error>
        
        </mat-form-field>
        <div style="margin-left: 1.3rem;">
        
          <label style="margin-right: 0.5rem;"for="gridViewToggle">{{ buttonText }}</label>
          <mat-slide-toggle
            id="gridViewToggle"
            color="primary"
            [checked]="toggleChecked"
            [disabled]="true"
            (change)="onToggleChange($event)"
          ></mat-slide-toggle>
        </div>
        <!-- [disabled]="cuentaExists" -->
      
      </div>


        <div class="flex items-center justify-end gap-2">
          <button mat-button type="button">Cancelar</button>
          <button (click)="Transferencia()" color="primary" mat-raised-button type="button" [disabled]="Vformulario==false">{{btntext}}</button>
        </div>

        <!-- <pre>{{ usuarioForm.value | json }}</pre> -->
      </div>
    </div>

   